.Notification {
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    position: relative;
}

.Notification__Counts {
    min-width: 18px;
    min-height: 18px;
    position: absolute;
    font-size: 1rem;
    display: grid;
    place-content: center;
    color: #fff;
    font-weight: 700;
    border-radius: 50%;
    right: 0;
    background-color: #ff0000;
    user-select: none;
}
